{%  extends "Layout.html" %}
{% block body %}
    <style>

        .callout-text {
            color: white;
            padding-left: 4px;
        }

        .leaflet-tile-pane {
            opacity: 0.3;
        }

        #map {
            background-color: #292929;
        }
    </style>
    <div id="map"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script type="text/javascript">




    var map = new L.Map("map", {
        center: new L.LatLng(0, 0),
        zoom: 12
    });
    var baseLayer = new L.StamenTileLayer("toner");
    baseLayer.addTo(map);
    var layerControl = L.control.layers({
		'Stamen Toner': baseLayer
	}).addTo(map);

    addMarker = function (latlng,polarity,subjectivity,neg_score,pos_score) {
		var colorValue = Math.random() * 360;
		var options = {
			color: '#000',
			weight: 1,
			fillColor: 'hsl(' + colorValue + ',100%,50%)',
			radius: 20,
			fillOpacity: 0.7,
			rotation: 0.0,
			position: {
				x: 0,
				y: 0
			},
			offset: 0,
			numberOfSides: 50,
			width: 10
		};

		options.data = {
			'polarity': polarity,
			'subjectivity': subjectivity,
			'neg_score': neg_score,
			'pos_score': pos_score
		};

		options.chartOptions = {
			'polarity': {
				fillColor: '#FEE5D9',
				minValue: 0,
				maxValue: 1,
				maxHeight: 20,
				displayText: function (value) {
					return value.toFixed(2);
				}
			},
			'subjectivity': {
				fillColor: '#FCAE91',
				minValue: 0,
				maxValue: 1,
				maxHeight: 20,
				displayText: function (value) {
					return value.toFixed(2);
				}
			},
			'neg_score': {
				fillColor: '#FB6A4A',
				minValue: 0,
				maxValue: 1,
				maxHeight: 20,
				displayText: function (value) {
					return value.toFixed(2);
				}
			},
			'pos_score': {
				fillColor: '#CB181D',
				minValue: 0,
				maxValue: 1,
				maxHeight: 20,
				displayText: function (value) {
					return value.toFixed(2);
				}
			}
		};
		return new L.RadialBarChartMarker(latlng, options);
	};

    var data = {{ jsonData | safe }}

    var layerGroup = new L.LayerGroup();

    map.addLayer(layerGroup);
    layerControl.addOverlay(layerGroup, 'results');

    for(var i in data)
    {
        dataItem = data[i];
        layerGroup.addLayer( addMarker( new L.LatLng(dataItem.latitude,dataItem.longitude),dataItem.polarity,dataItem.subjectivity,dataItem.neg_score,dataItem.pos_score))
    }

</script>
{% endblock %}