{%  extends "Layout.html" %}
{% block body %}
    <style>

        .callout-text {
            color: white;
            padding-left: 4px;
        }

        .leaflet-tile-pane {
            opacity: 0.3;
        }

        #map {
            background-color: #292929;
        }
    </style>
    <div class="row">
        <div class="col-xs-3">
            Term:
            <select id="termId" class="form-control">
                {% for term in result['terms'] %}
                    {%   if term.Id == result['selectedTerm']  %}
                        <option value="{{ term.Id }}" selected="selected">{{ term.Content }}</option>
                    {% else %}
                        <option value="{{ term.Id }}">{{ term.Content }}</option>
                    {% endif %}
                {%  endfor %}
            </select>
        </div>
        <div class="col-xs-3">
            Start date:
            <div class='input-group date' >
                    <input type='text' class="form-control" id='startDate' value="{{ result['startDate'] }}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="col-xs-3">
            End date:
            <div class='input-group date' >
                    <input type='text' class="form-control" id='endDate' value="{{ result['endDate'] }}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="col-xs-3" >
            <span>Execute filter</span>
            <input type="button" class="btn btn-success form-control" value="Filter" id="filterBtn">
        </div>
    </div>
    <br/>
    <div id="map"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <script type="text/javascript">
        $('#filterBtn').click(function(){
            var term = $('#termId').val();
            var startDate = $('#startDate').datepicker({ dateFormat: 'dd-mm-yy' }).val();
            var endDate = $('#endDate').datepicker({ dateFormat: 'dd-mm-yy' }).val();
            {% if result['type'] == 'byCountry' %}
                var relocation = '{{ url_for('by_countries_count')}}?termId='+term+'&startDate='+startDate+'&endDate='+endDate;
            {% elif result['type'] == 'byState' %}
                var relocation = '{{ url_for('by_states_count')}}?termId='+term+'&startDate='+startDate+'&endDate='+endDate;
            {% else %}
                var relocation = '{{ url_for('by_cities_count')}}?termId='+term+'&startDate='+startDate+'&endDate='+endDate;
            {% endif %}
            window.location.href = relocation;
        });
    </script>
    <script type="text/javascript">
            $(function () {
                $('#startDate, #endDate').datepicker({
  dateFormat: "yy-mm-dd"
});
            });
        </script>
<script type="text/javascript">




    var map = new L.Map("map", {
        center: new L.LatLng(0, 0),
        zoom: 0
    });
    var baseLayer = new L.StamenTileLayer("toner");
    baseLayer.addTo(map);
    var layerControl = L.control.layers({
		'Stamen Toner': baseLayer
	}).addTo(map);

    addMarker = function (latlng,neg_count,pos_count,name) {
		var colorValue = Math.random() * 360;
		var options = {
			color: '#000',
			weight: 1,
			fillColor: 'hsl(' + colorValue + ',100%,50%)',
			radius: 20,
			fillOpacity: 0.7,
			rotation: 0.0,
			position: {
				x: 0,
				y: 0
			},
			offset: 0,
			width: 8,
            entityName:name
		};

		var total  = pos_count + neg_count;
		options.data = {
			'neg_count': neg_count,
			'pos_count': pos_count
		};

		options.chartOptions = {
			'neg_count': {
				fillColor: '#FF4040',
				minValue: 0,
				maxValue: total,
				maxHeight: 30,
				displayText: function (value) {
					return value.toFixed(2);
				}
			},
			'pos_count': {
				fillColor: '#008000',
				minValue: 0,
				maxValue: total,
				maxHeight: 30,
				displayText: function (value) {
					return value.toFixed(2);
				}
			}
		};
        var radialBarChartMarker = new L.BarChartMarker(latlng, options);
        radialBarChartMarker.on('click',function(e){
            var term = $('#termId').val();
            var startDate = $('#startDate').datepicker({ dateFormat: 'dd-mm-yy' }).val();
            var endDate = $('#endDate').datepicker({ dateFormat: 'dd-mm-yy' }).val();
            {% if result['type'] == 'byCountry' %}
                var relocation = '{{ url_for('TweetsByCountry')}}?termId='+term+'&startDate='+startDate+'&endDate='+endDate+'&entity='+e.layer.options.entityName;
            {% elif result['type'] == 'byState' %}
                var relocation = '{{ url_for('TweetsByState')}}?termId='+term+'&startDate='+startDate+'&endDate='+endDate+'&entity='+e.layer.options.entityName;
            {% else %}
                var relocation = '{{ url_for('TweetsByCity')}}?termId='+term+'&startDate='+startDate+'&endDate='+endDate+'&entity='+e.layer.options.entityName;
            {% endif %}
            var win = window.open(relocation, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website');
            }
        })
        //debugger;
        return radialBarChartMarker;
	};

	var addCallout = function(country,latlng){
      var callout = new L.Callout(latlng, {
			direction: L.CalloutLine.DIRECTION.NW,
			lineStyle: L.CalloutLine.LINESTYLE.STRAIGHT,
			numberOfSides: 3,
			arrow: true,
			color: '#C0C0C0',
			fillColor: '#C0C0C0',
			position: new L.Point(-60, 0),
			size: new L.Point(40, 0),
			icon: new L.DivIcon({
				iconSize: new L.Point(80, 50),
				html: '<div>' + country + '</div>',
				className: 'callout-text'
			})
		});

		return callout;
    };

    var data = {{ result['jsonData'] | safe }}

    {#var layerGroup = new L.LayerGroup();

    map.addLayer(layerGroup);
    layerControl.addOverlay(layerGroup, 'results');#}

    for(var i in data)
    {
        dataItem = data[i];
        var layerGroup = new L.LayerGroup();
        map.addLayer(layerGroup);
		map.addLayer(layerGroup);
		layerControl.addOverlay(layerGroup, dataItem.country);
        var latLng = new L.LatLng(dataItem.latitude,dataItem.longitude);
        var marker = addMarker( latLng,dataItem.neg_count,dataItem.pos_count,dataItem.country);
        var callout = addCallout(dataItem.country,latLng);
        layerGroup.addLayer(callout);
        layerGroup.addLayer(marker);
    }

</script>
{% endblock %}