{%  extends "Layout.html" %}
{% block body %}
    <script type="text/javascript">
        function addLoadEvent(func) {
          var oldonload = window.onload;
          if (typeof window.onload != 'function') {
            window.onload = func;
          } else {
            window.onload = function() {
              if (oldonload) {
                oldonload();
              }
              func();
            }
          }
        }
    </script>
    <table class="table">
        <tr>
            <th>
                Text
            </th>
            <th>
                Country
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                Creation Date
            </th>
            <th>
                Polarity
            </th>
            <th>
                Subjectivity
            </th>
            <th>
                classification
            </th>
            <th>
                Negative Score
            </th>
            <th>
                Positive Score
            </th>
        </tr>

    {% for tweet in tweets %}
        <tr style="vertical-align: middle">
            <td>
                {{ tweet.text }}
            </td>
            <td>
                {{ tweet.country }}
            </td>
            <td>
                {{ tweet.state }}
            </td>
            <td>
                {{ tweet.city }}
            </td>
            <td>
                {{ tweet.creation_date }}
            </td>
            <td>
                <div id="pol_{{ tweet.id_str }}" style="width:100px; height:80px"></div>
                <script type="text/javascript">
                    addLoadEvent(function () {
                        gpol_{{ tweet.Id }} = new JustGage({
                            id: "pol_{{ tweet.id_str }}",
                            value:{{ tweet.polarity }}*100,
                            min:-100,
                            max:100,
                            title:"Polarity",
                            levelColors: ["#FB6A4A","#57F22A"]
                        })
                    })
                </script>
            </td>
            <td>
                <div id="sub_{{ tweet.id_str }}" style="width:100px; height:80px"></div>
                <script type="text/javascript">
                    addLoadEvent(function () {
                        gsub_{{ tweet.Id }} = new JustGage({
                            id: "sub_{{ tweet.id_str }}",
                            value:{{  tweet.subjectivity}}*100,
                            min:0,
                            max:100,
                            title:"Subjectivity",
                            levelColors: ["#57F22A","#FB6A4A"]
                        })
                    })
                </script>
            </td>
            <td style="vertical-align: middle">
                {% if tweet.classification == 'neg' %}
                    <span class="label label-danger"  style="font-size: 30px">{{ tweet.classification }}</span>
                {% else %}
                    <span class="label label-success" style="font-size: 30px">{{ tweet.classification }}</span>
                {% endif %}
            </td>
            <td>
                <div id="neg_{{ tweet.id_str }}" style="width:100px; height:80px"></div>
                <script type="text/javascript">
                    addLoadEvent(function () {
                        gneg_{{ tweet.Id }} = new JustGage({
                            id: "neg_{{ tweet.id_str }}",
                            value:{{  tweet.neg_score}}*100,
                            min:0,
                            max:100,
                            title:"Negative",
                            levelColors: ["#FB6A4A"],
                            levelColorsGradient: false
                        })
                    })
                </script>
            </td>
            <td>
                <div id="pos_{{ tweet.id_str }}" style="width:100px; height:80px"></div>
                <script type="text/javascript">
                    addLoadEvent(function () {
                        gpos_{{ tweet.Id }} = new JustGage({
                            id: "pos_{{ tweet.id_str }}",
                            value:{{  tweet.pos_score}}*100,
                            min:0,
                            max:100,
                            title:"Positive",
                            levelColors: ["#57F22A"],
                            levelColorsGradient: false
                        })
                    })
                </script>
            </td>
        </tr>
    {%  endfor %}
    </table>
{% endblock %}